<nav>

    <div class="ph">
        <img [routerLink]="'/home'" class="image" src="https://everrest.educata.dev/logo.png">
        <h3 class="hi">Welcome to EverREST</h3>
    </div>

    <ul style="margin: 0;">
        <li *ngIf="isAuth()"><a [routerLink]="'/cart'" [routerLinkActive]="active">Cart <i class="fa-solid fa-cart-shopping"></i></a></li>
        <li *ngIf="!isAuth()"><a [routerLink]="'/sign-up'" [routerLinkActive]="active">Sign Up</a></li>
        <li *ngIf="!isAuth()" ><a [routerLink]="'/sign-in'" [routerLinkActive]="active">Sign In</a></li>
        <div class="userPic">
           
            <img (click)="showAcc()"  *ngIf="isAuth()" style="width: 40px;height: 40px;border-radius: 50%;cursor: pointer;" [src]="data.avatar" alt="">
        </div>
        <div  class="acc" *ngIf="show">
            <div class="avat" style="display: flex;width: 100%;justify-content: center;align-items: center;
            flex-direction: column;gap: 4px;padding-top: 10px;padding-bottom: 10px;">
            <p style="color: white;">My Account</p>
                <img [src]="data.avatar" style="width: 30px;height: 30px;border-radius: 50%;" alt="">
                <p style="font-size: 10px;color: rgb(255, 255, 255);">{{data.email}}</p>
            </div>
            <p style="color: white;font-size: 13px;padding-left: 10px;">User: {{data.firstName}} {{data.lastName}}</p>
            <p style="color: white;font-size: 13px;padding-left: 10px;">Role: {{data.role}}</p>

            <div class="butDiv">
                <button class="accBut" [routerLink]="'/account'">Manage <i class="fa-solid fa-gear"></i></button>
                <button class="LogBut" (click)="SignOut()">Sign Out <i class="fa-solid fa-right-from-bracket"></i></button>
            </div>
        </div>
    </ul>
</nav>
